
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.mt-logo-wrap{
    text-align: center;
    position: relative;
    z-index: 1;
}
.mt-logo-wrap svg{
    width: 450px;
    transition: .6s;
    /* transform: rotate(175deg); */
}

.mt-logo-wrap svg g{
    transition: 1s;
}

.mt-info-wrap{
    margin-top: -270px;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.mt-info-wrap__cap{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 300px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    align-items: center;
}

.mt-info-wrap__bg{
    width: 100%;
}

.mt-info-wrap__cap__title{
    color: white;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 40px;
    margin-top: 2em;
}

.mt-info-wrap__cap__desc{
    color: white;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 17px;
    margin-top: 1em;
}

.mt-info-wrap__cap__link{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 1em;
    margin-top: 2em;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 15px;
    letter-spacing: 5px;
    transition: .4s;
}

.mt-info-wrap__cap__link:hover{
    background-color: #1B1B1B;
    border-color: #1B1B1B;
}

#verde:hover{
    transform: scale(1.1) translateX(-4%) translateY(-3%);
}

#rojo:hover{
    transform: scale(1.1) translateX(-4%) translateY(-3%);
}

#azul:hover{
    transform: scale(1.1) translateX(-4%) translateY(-3%);
}

#gris:hover{
    transform: scale(1.1) translateX(-4%) translateY(-3%);
}

@media (max-width: 769px){
    .mt-info-wrap{
        margin-top: -100px;
    }
    .mt-info-wrap__cap__title{
        margin-top: -3em;
        font-size: 35px;
    }
    .mt-info-wrap__cap__desc{
        padding: 0em 2em;
    }
    .mt-info-wrap__cap__link{
        font-size: 13px;
    }
}

@media (max-width: 576px){
    .mt-logo-wrap svg{
        width: 415px;
    }
    .mt-info-wrap__bg{
        height: 470px;
        object-fit: cover;
    }
    .mt-info-wrap{
        margin-top: -185px;
    }
    .mt-info-wrap__cap__desc{
        font-size: 15px;
        line-height: 22px;
    }
}