.mt-tabs__list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Nexa Regular', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center; /*Editar el color según corresponda*/
    flex-flow: row wrap;
    background-color: green; /*Editar el color según corresponda*/
    padding: 1em 0;
}

.mt-tabs__list__item{
    padding: 0 1em;
    padding-bottom: 1em;
    cursor: pointer;
    color: #8C8C8C;
    transition: .3s;
    position: relative;
    margin: 0 10px;
    color: white; /*Editar el color según corresponda*/
}

.mt-tabs__list__item__icon{
    text-align: center;
    font-size: 46px;
}

.mt-tabs__list__item::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    background-color: white; /*Editar el color según corresponda*/
    transition: .3s;
    width: 0;
    
}

.mt-tabs__list__item:hover, .mt-tabs__list__item.active{
    color: white; /*Editar el color según corresponda*/
}

.mt-tabs__list__item:hover::before, .mt-tabs__list__item.active::before{
    width: 100%;
    left: 0;
}

.mt-tabs__content{
    margin: 2em 0;
}

.mt-tabs__content__item{
    display: none;
}


.mt-tabs__content__item.active{
    display: block;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}